<div class="stat-actions d-flex flex-row justify-content-start align-items-start">
  <div class="stat-action-option">
    <div class="d-block">1</div>
    <div class="d-block">
      <button
        class="btn btn-success"
        (click)="prepareAction($event,'1',1)"
        (contextmenu)="$event.preventDefault()"
        [disabled]="!isSquadSet"
      >+</button>
    </div>
    <div class="d-block">
      <button
        class="btn btn-danger mt-2 px-3"
        (click)="prepareAction($event,'1',-1)"
        (contextmenu)="$event.preventDefault()"
        [disabled]="!isSquadSet"
      >-</button>
    </div>


  </div>
  <div class="stat-action-option">
    <div class="d-block">Z</div>
    <div class="d-block">
      <button
        class="btn btn-success"
        (click)="prepareAction($event,'Z',1)"
        (contextmenu)="$event.preventDefault()"
        [disabled]="!isSquadSet"
      >+</button>
    </div>
    <div class="d-block">
      <button
        class="btn btn-danger mt-2 px-3"
        (click)="prepareAction($event,'Z',-1)"
        (contextmenu)="$event.preventDefault()"
        [disabled]="!isSquadSet"
      >-</button>
    </div>
  </div>
  <div class="stat-action-option">
    <div class="d-block">2</div>
    <div class="d-block">
      <button
        class="btn btn-success"
        (click)="prepareAction($event,'2',1)"
        (contextmenu)="$event.preventDefault()"
        [disabled]="!isSquadSet"
      >+</button>
    </div>
    <div class="d-block">
      <button
        class="btn btn-danger mt-2 px-3"
        (click)="prepareAction($event,'2',-1)"
        (contextmenu)="$event.preventDefault()"
        [disabled]="!isSquadSet"
      >-</button>
    </div>
  </div>
  <div class="stat-action-option">
    <div class="d-block">3</div>
    <div class="d-block">
      <button
        class="btn btn-success"
        (click)="prepareAction($event,'3',1)"
        (contextmenu)="$event.preventDefault()"
        [disabled]="!isSquadSet"
      >+</button>
    </div>
    <div class="d-block">
      <button
        class="btn btn-danger mt-2 px-3"
        (click)="prepareAction($event,'3',-1)"
        (contextmenu)="$event.preventDefault()"
        [disabled]="!isSquadSet"
      >-</button>
    </div>
  </div>


  <div class="stat-action-option">
    <div class="d-block">F-</div>
    <div class="d-block">
      <button
        class="btn btn-success"
        (click)="prepareAction($event,'F-',1)"
        (contextmenu)="$event.preventDefault()"
        [disabled]="!isSquadSet"
      >+</button>
    </div>
    <div class="d-block">
      <button
        class="btn btn-danger mt-2 px-3"
        (click)="prepareAction($event,'F-',-1)"
        (contextmenu)="$event.preventDefault()"
        [disabled]="!isSquadSet"
      >-</button>
    </div>


  </div>
  <div class="stat-action-option">
    <div class="d-block">F+</div>
    <div class="d-block">
      <button
        class="btn btn-success"
        (click)="prepareAction($event,'F+',1)"
        (contextmenu)="$event.preventDefault()"
        [disabled]="!isSquadSet"
      >+</button>
    </div>
    <div class="d-block">
      <button
        class="btn btn-danger mt-2 px-3"
        (click)="prepareAction($event,'F+',-1)"
        (contextmenu)="$event.preventDefault()"
        [disabled]="!isSquadSet"
      >-</button>
    </div>
  </div>
  <div class="stat-action-option">
    <div class="d-block">OL</div>
    <div class="d-block">
      <button
        class="btn btn-success"
        (click)="prepareAction($event,'OL',1)"
        (contextmenu)="$event.preventDefault()"
        [disabled]="!isSquadSet"
      >+</button>
    </div>
    <div class="d-block">
      <button
        class="btn btn-danger mt-2 px-3"
        (click)="prepareAction($event,'OL',-1)"
        (contextmenu)="$event.preventDefault()"
        [disabled]="!isSquadSet"
      >-</button>
    </div>
  </div>
  <div class="stat-action-option">
    <div class="d-block">IL</div>
    <div class="d-block">
      <button
        class="btn btn-success"
        (click)="prepareAction($event,'IL',1)"
        (contextmenu)="$event.preventDefault()"
        [disabled]="!isSquadSet"
      >+</button>
    </div>
    <div class="d-block">
      <button
        class="btn btn-danger mt-2 px-3"
        (click)="prepareAction($event,'IL',-1)"
        (contextmenu)="$event.preventDefault()"
        [disabled]="!isSquadSet"
      >-</button>
    </div>
  </div>
  <div class="stat-action-option">
    <div class="d-block">AS</div>
    <div class="d-block">
      <button
        class="btn btn-success"
        (click)="prepareAction($event,'AS',1)"
        (contextmenu)="$event.preventDefault()"
        [disabled]="!isSquadSet"
      >+</button>
    </div>
    <div class="d-block">
      <button
        class="btn btn-danger mt-2 px-3"
        (click)="prepareAction($event,'AS',-1)"
        (contextmenu)="$event.preventDefault()"
        [disabled]="!isSquadSet"
      >-</button>
    </div>
  </div>
  <div class="stat-action-option">
    <div class="d-block">BL</div>
    <div class="d-block">
      <button
        class="btn btn-success"
        (click)="prepareAction($event,'BL',1)"
        (contextmenu)="$event.preventDefault()"
        [disabled]="!isSquadSet"
      >+</button>
    </div>
    <div class="d-block">
      <button
        class="btn btn-danger mt-2 px-3"
        (click)="prepareAction($event,'BL',-1)"
        (contextmenu)="$event.preventDefault()"
        [disabled]="!isSquadSet"
      >-</button>
    </div>
  </div>
  <div class="stat-action-option">
    <div class="d-block">SO</div>
    <div class="d-block">
      <button
        class="btn btn-success"
        (click)="prepareAction($event,'SO',1)"
        (contextmenu)="$event.preventDefault()"
        [disabled]="!isSquadSet"
      >+</button>
    </div>
    <div class="d-block">
      <button
        class="btn btn-danger mt-2 px-3"
        (click)="prepareAction($event,'SO',-1)"
        (contextmenu)="$event.preventDefault()"
        [disabled]="!isSquadSet"
      >-</button>
    </div>
  </div>
  <div class="stat-action-option">
    <div class="d-block">SN</div>
    <div class="d-block">
      <button
        class="btn btn-success"
        (click)="prepareAction($event,'SN',1)"
        (contextmenu)="$event.preventDefault()"
        [disabled]="!isSquadSet"
      >+</button>
    </div>
    <div class="d-block">
      <button
        class="btn btn-danger mt-2 px-3"
        (click)="prepareAction($event,'SN',-1)"
        (contextmenu)="$event.preventDefault()"
        [disabled]="!isSquadSet"
      >-</button>
    </div>
  </div>
</div>

<app-players-popup
  [currentPlayers]="currentPlayers"
  [position]="action?.type"
  [isDisplayed]="displayPopup"
  (eventCancelled)="resetBg()"
  (selectedPlayer)="setSelectedPlayer($event)"
></app-players-popup>
p>
