.stat-actions {
  border      : solid 2px black;
  border-top  : solid 1px black;
  border-right: solid 1px black;
  position    : absolute;
  left        : 0px;
  top         : 500px;
  background  : transparent;
  width       : 1000px;
  height      : 130px;
  z-index     : 0;
}

.stat-action-option {
  width      : 150px;
  display    : block;
  font-weight: bold;
  text-align : center;
  margin     : 5px;
  padding    : 2px 5px;
}

.btn-short {
  height       : 20px;
  padding      : 0rem 0.9rem !important;
  // margin-top: 5px !important;
}

.btn {
  font-weight: bold;
}
