<div class="stat-actions d-flex flex-row justify-content-start align-items-start">
  <div class="stat-action-option">
    <div class="d-block">1</div>
    <div class="d-block">
      <button class="btn btn-success" (click)="prepareAction('1',1)" (contextmenu)="$event.preventDefault()"
        [disabled]="!isSquadSet">+</button>
    </div>
    <div class="d-block">
      <button class="btn btn-danger mt-2 px-3" (click)="prepareAction('1',-1)" (contextmenu)="$event.preventDefault()"
        [disabled]="!isSquadSet">-</button>
    </div>


  </div>
  <div class="stat-action-option">
    <div class="d-block">Z</div>
    <div class="d-block">
      <button class="btn btn-success" (click)="prepareAction('Z',1)" (contextmenu)="$event.preventDefault()"
        [disabled]="!isSquadSet">+</button>
    </div>
    <div class="d-block">
      <button class="btn btn-danger mt-2 px-3" (click)="prepareAction('Z',-1)" (contextmenu)="$event.preventDefault()"
        [disabled]="!isSquadSet">-</button>
    </div>
  </div>
  <div class="stat-action-option">
    <div class="d-block">2</div>
    <div class="d-block">
      <button class="btn btn-success" (click)="prepareAction('2',1)" (contextmenu)="$event.preventDefault()"
        [disabled]="!isSquadSet">+</button>
    </div>
    <div class="d-block">
      <button class="btn btn-danger mt-2 px-3" (click)="prepareAction('2',-1)" (contextmenu)="$event.preventDefault()"
        [disabled]="!isSquadSet">-</button>
    </div>
  </div>
  <div class="stat-action-option">
    <div class="d-block">3</div>
    <div class="d-block">
      <button class="btn btn-success" (click)="prepareAction('3',1)" (contextmenu)="$event.preventDefault()"
        [disabled]="!isSquadSet">+</button>
    </div>
    <div class="d-block">
      <button class="btn btn-danger mt-2 px-3" (click)="prepareAction('3',-1)" (contextmenu)="$event.preventDefault()"
        [disabled]="!isSquadSet">-</button>
    </div>
  </div>


  <div class="stat-action-option">
    <div class="d-block">F-</div>
    <div class="d-block">
      <button class="btn btn-success" (click)="prepareAction('F-',1)" (contextmenu)="$event.preventDefault()"
        [disabled]="!isSquadSet">+</button>
    </div>
    <div class="d-block">
      <button class="btn btn-danger mt-2 px-3" (click)="prepareAction('F-',-1)" (contextmenu)="$event.preventDefault()"
        [disabled]="!isSquadSet">-</button>
    </div>


  </div>
  <div class="stat-action-option">
    <div class="d-block">F+</div>
    <div class="d-block">
      <button class="btn btn-success" (click)="prepareAction('F+',1)" (contextmenu)="$event.preventDefault()"
        [disabled]="!isSquadSet">+</button>
    </div>
    <div class="d-block">
      <button class="btn btn-danger mt-2 px-3" (click)="prepareAction('F+',-1)" (contextmenu)="$event.preventDefault()"
        [disabled]="!isSquadSet">-</button>
    </div>
  </div>
  <div class="stat-action-option">
    <div class="d-block">OL</div>
    <div class="d-block">
      <button class="btn btn-success" (click)="prepareAction('OL',1)" (contextmenu)="$event.preventDefault()"
        [disabled]="!isSquadSet">+</button>
    </div>
    <div class="d-block">
      <button class="btn btn-danger mt-2 px-3" (click)="prepareAction('OL',-1)" (contextmenu)="$event.preventDefault()"
        [disabled]="!isSquadSet">-</button>
    </div>
  </div>
  <div class="stat-action-option">
    <div class="d-block">IL</div>
    <div class="d-block">
      <button class="btn btn-success" (click)="prepareAction('IL',1)" (contextmenu)="$event.preventDefault()"
        [disabled]="!isSquadSet">+</button>
    </div>
    <div class="d-block">
      <button class="btn btn-danger mt-2 px-3" (click)="prepareAction('IL',-1)" (contextmenu)="$event.preventDefault()"
        [disabled]="!isSquadSet">-</button>
    </div>
  </div>
  <div class="stat-action-option">
    <div class="d-block">AS</div>
    <div class="d-block">
      <button class="btn btn-success" (click)="prepareAction('AS',1)" (contextmenu)="$event.preventDefault()"
        [disabled]="!isSquadSet">+</button>
    </div>
    <div class="d-block">
      <button class="btn btn-danger mt-2 px-3" (click)="prepareAction('AS',-1)" (contextmenu)="$event.preventDefault()"
        [disabled]="!isSquadSet">-</button>
    </div>
  </div>
  <div class="stat-action-option">
    <div class="d-block">BL</div>
    <div class="d-block">
      <button class="btn btn-success" (click)="prepareAction('BL',1)" (contextmenu)="$event.preventDefault()"
        [disabled]="!isSquadSet">+</button>
    </div>
    <div class="d-block">
      <button class="btn btn-danger mt-2 px-3" (click)="prepareAction('BL',-1)" (contextmenu)="$event.preventDefault()"
        [disabled]="!isSquadSet">-</button>
    </div>
  </div>
  <div class="stat-action-option">
    <div class="d-block">SO</div>
    <div class="d-block">
      <button class="btn btn-success" (click)="prepareAction('SO',1)" (contextmenu)="$event.preventDefault()"
        [disabled]="!isSquadSet">+</button>
    </div>
    <div class="d-block">
      <button class="btn btn-danger mt-2 px-3" (click)="prepareAction('SO',-1)" (contextmenu)="$event.preventDefault()"
        [disabled]="!isSquadSet">-</button>
    </div>
  </div>
  <div class="stat-action-option">
    <div class="d-block">SN</div>
    <div class="d-block">
      <button class="btn btn-success" (click)="prepareAction('SN',1)" (contextmenu)="$event.preventDefault()"
        [disabled]="!isSquadSet">+</button>
    </div>
    <div class="d-block">
      <button class="btn btn-danger mt-2 px-3" (click)="prepareAction('SN',-1)" (contextmenu)="$event.preventDefault()"
        [disabled]="!isSquadSet">-</button>
    </div>
  </div>
</div>

<app-players-popup [currentPlayers]="currentPlayers" [position]="action?.type" [isDisplayed]="displayPopup"
  (eventCancelled)="resetBg()" (selectedPlayer)="setSelectedPlayer($event)"></app-players-popup>
