/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import './variables.scss';
@import './bg-colors.scss';
// @import '~material-design-icons/iconfont/material-icons.css';

.cursor-pointer {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

html,
body {
  height: 100%;
}

body {
  margin     : 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
