$orange     : orange;
$light-blue : lightBlue;
$light-green: rgb(166, 247, 170);
$light-grey : lightgray;
$rose       : rgb(236, 124, 203);
$yellow     : rgb(248, 248, 80);
$white      : white;
$black      : black;
$blue       : rgb(70, 58, 236);
$dark-blue  : rgb(17, 11, 105);
$green      : rgb(48, 199, 55);
$dark-green : #198754;
$grey       : rgb(54, 52, 52);
$red        : rgb(235, 36, 36);
$transparent: transparent;


:root {
  --mouse-x: 150px;
  --mouse-y: 200px;
}
