<div class="periods-container">
  <!--  d-flex flex-row-->
  <div>
    <ul>
      <li class="" *ngFor="let p of periods">
        <button class="btn btn-lg" [ngClass]="p.selected ? 'btn-success' : 'btn-light'"
          (click)="setSelectedPeriod(p)">{{p.displayName}}</button>
      </li>
    </ul>
  </div>
  <p *ngFor="let gr of gameResult.result">
    <span *ngIf="gr.period <= selectedPeriod.name">
      <b>{{gr.teamAFinal}} : {{gr.teamBFinal}}</b> ( {{ gr.teamAScored }} : {{gr.teamBScored}})
    </span>
  </p>



  <div class="periods-stat d-flex flex-row justify-content-start align-items-start">
    <div class="stat-action-option">
      <div class="d-block">1</div>
      <div class="d-block">
        <button class="btn btn-primary" (click)="emitVisitorPoints(1)" (contextmenu)="$event.preventDefault()"
          [disabled]="!isSquadSet">+</button>
      </div>
      <div class="d-block">
        <button class="btn btn-secondary mt-2 px-3" (click)="emitVisitorPoints(-1)"
          (contextmenu)="$event.preventDefault()" [disabled]="!isSquadSet">-</button>
      </div>
    </div>

    <div class="stat-action-option">
      <div class="d-block">2</div>
      <div class="d-block">
        <button class="btn btn-primary" (click)="emitVisitorPoints(2)" (contextmenu)="$event.preventDefault()"
          [disabled]="!isSquadSet">+</button>
      </div>
      <div class="d-block">
        <button class="btn btn-secondary mt-2 px-3" (click)="emitVisitorPoints(-2)"
          (contextmenu)="$event.preventDefault()" [disabled]="!isSquadSet">-</button>
      </div>
    </div>
    <div class="stat-action-option">
      <div class="d-block">3</div>
      <div class="d-block">
        <button class="btn btn-primary" (click)="emitVisitorPoints(3)" (contextmenu)="$event.preventDefault()"
          [disabled]="!isSquadSet">+</button>
      </div>
      <div class="d-block">
        <button class="btn btn-secondary mt-2 px-3" (click)="emitVisitorPoints(-3)"
          (contextmenu)="$event.preventDefault()" [disabled]="!isSquadSet">-</button>
      </div>
    </div>
  </div>

</div>
