<div class="periods-container">
  <app-time-counter></app-time-counter>
  <div class="mt-4">
    <ul>
      <li
        class=""
        *ngFor="let p of periods"
      >
        <div class="period-wrapper">
          <div
            class="bonus cursor-pointer"
            (click)="toggleBonus(p, 'host')"
            [ngStyle]="{'background-color':p.hostBonus ? 'red': 'white'}"
          ></div>
          <button
            class="btn btn-lg"
            [ngClass]="p.selected ? 'btn-dark-green' : 'btn-light'"
            (click)="setSelectedPeriod(p)"
          >{{p.displayName}}</button>
          <div
            class="bonus cursor-pointer"
            (click)="toggleBonus(p, 'visitor')"
            [ngStyle]="{'background-color':p.visitorBonus ? 'red': 'white'}"
          ></div>
        </div>
      </li>
    </ul>
  </div>
  <p *ngFor="let gr of gameResult.result">
    <span *ngIf="gr.period <= selectedPeriod.name">
      <b>{{gr.teamAFinal}} : {{gr.teamBFinal}}</b> ( {{ gr.teamAScored }} : {{gr.teamBScored}})
    </span>
  </p>


  <div class="periods-stat d-flex flex-row justify-content-start align-items-start">
    <div class="stat-action-option">
      <div class="d-block">1</div>
      <div class="d-block">
        <button
          class="btn btn-blue"
          (click)="emitVisitorPoints(1)"
          (contextmenu)="$event.preventDefault()"
          [disabled]="!isSquadSet"
        >+</button>
      </div>
      <div class="d-block">
        <button
          class="btn btn-grey mt-2 px-3"
          (click)="emitVisitorPoints(-1)"
          (contextmenu)="$event.preventDefault()"
          [disabled]="!isSquadSet"
        >-</button>
      </div>
    </div>

    <div class="stat-action-option">
      <div class="d-block">2</div>
      <div class="d-block">
        <button
          class="btn btn-blue"
          (click)="emitVisitorPoints(2)"
          (contextmenu)="$event.preventDefault()"
          [disabled]="!isSquadSet"
        >+</button>
      </div>
      <div class="d-block">
        <button
          class="btn btn-grey mt-2 px-3"
          (click)="emitVisitorPoints(-2)"
          (contextmenu)="$event.preventDefault()"
          [disabled]="!isSquadSet"
        >-</button>
      </div>
    </div>
    <div class="stat-action-option">
      <div class="d-block">3</div>
      <div class="d-block">
        <button
          class="btn btn-blue"
          (click)="emitVisitorPoints(3)"
          (contextmenu)="$event.preventDefault()"
          [disabled]="!isSquadSet"
        >+</button>
      </div>
      <div class="d-block">
        <button
          class="btn btn-grey mt-2 px-3"
          (click)="emitVisitorPoints(-3)"
          (contextmenu)="$event.preventDefault()"
          [disabled]="!isSquadSet"
        >-</button>
      </div>
    </div>
  </div>

</div>
